Source: synth-datagen
Section: devel
Priority: optional
Maintainer: Rafael G. Martins <rafael@rafaelmartins.eng.br>
Build-Depends: debhelper (>= 13.4),
               debhelper-compat (= 13),
               dh-golang (>= 1.53),
               dh-sequence-golang,
               golang-any
Standards-Version: 4.5.1
Homepage: https://rafaelmartins.com/p/synth-datagen
X-GitHub-Repo: rafaelmartins/synth-datagen
Rules-Requires-Root: no
XS-Go-Import-Path: rafaelmartins.com/p/synth-datagen

Package: synth-datagen
Architecture: any
Depends: ${misc:Depends}
Description: A tool that generates C data headers for synthesizer waveforms and algorithms.
