#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

#export DH_VERBOSE := 1
export DH_GOLANG_INSTALL_ALL := 1
export GO_LDFLAGS := -X github.com/rafaelmartins/synth-datagen/internal/version.Version=$(DEB_VERSION_UPSTREAM)

%:
	dh $@ --builddirectory=_build

override_dh_auto_build:
	dh_auto_build -- -ldflags "$(GO_LDFLAGS)"

override_dh_auto_install:
	dh_auto_install -- --no-source
